* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    height: 100%; 
    width: 100%; 
  }
  
  body {
    min-height: 100%;  
    background: #eee;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #132743;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 50px;
  }
  
  .container {
    max-width: 700px;   
    background: #FFC7BD;
    margin: 0px auto 0px; 
    box-shadow: 1px 1px 2px #DAD7D7;
    border-radius: 5px;  
    padding: 40px;
    margin-top: 50px;
  }
  .header {
    margin-bottom: 30px;
  }  
    
    .full-name {
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      background-color: #7FB3BB;
      border: 15px 50px solid #7FB3BB;
    }
    
    .first-name {
      font-weight: 700;
    }
    
    .last-name {
      font-weight: 700;
    }
    
    .contact-info {
      margin-bottom: 20px;
      margin-top: 15px;
      display: flex;
      justify-content: center;
    }
    
    .email ,
    .phone {
      color: #433E3F;
      font-weight: 300;
    } 
    
    .separator {
      height: 25px;
      display: inline-flex;
      border-left: 2px solid #629097;
      margin: 0px 10px;
    }
    
    .position {
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
      text-decoration: underline;
    }
  
  .details {
    line-height: 20px;
  }

    .section {
      margin-bottom: 40px;  
    }
    
    .section:last-of-type {
      margin-bottom: 0px;  
    }
    
    .section__title {
      letter-spacing: 2px;
      color: #79adb5;
      font-size: 18px;
      font-weight: bold;
      margin-top: 2em;
      margin-bottom: 1em;
      text-transform: uppercase;
    }
    
    .section__list-item {
      margin-bottom: 40px;
    }
    
    .section__list-item:last-of-type {
      margin-bottom: 0;
    }
    
    .left ,
    .right {
      vertical-align: top;
      display: inline-block;
    }
    
    .left {
      width: 60%;    
    }
    
    .right {
      text-align: right;
      width: 39%;    
    }
    
    .name {
      font-weight: bold;
    }
    
    a {
      text-decoration: none;
      color: #000;
      font-style: italic;
    }
    
    a:hover {
      text-decoration: underline;
      color: #000;
    }
      
    .skills__item {
      margin-top: 3px;  
    }
    
    .skills__item .right input {
        display: none;
    }
      
      label {
        display: inline-block;  
        width: 20px;
        height: 20px;
        background: #79adb5;
        border-radius: 20px;
        margin-right: 3px;
        margin-top: 3px;
      }
      
      input:checked + label {
        background: #132743;
      }

      @media screen and (max-width:768px){
        body{ 
            font-size: 12px;
            display: inline;
        }
        .full-name{
            font-size: 25px;
        }        
        .contact-info {
          margin-bottom: 20px;
          margin-top: 13px;
          display: block;
          justify-content: center;
        }
        .section__title{
          font-size: 14px;
        }
        label {
            width: 10px;
            height: 10px;
        }
        .separator {
          height: 10px;
        }
      }
  
  
  
  
  
  
  
  
  
